# Ignore all node_modules in any folder
**/node_modules/

# Vite/React build output (client)
**/dist/
**/.vite/

# Express or backend build output (if any)
**/build/

# Logs
**/*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignore all .env files (any folder)
**/.env
**/.env.*


# OS/system files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ESLint/Prettier cache
.eslintcache
.prettiercache
